<section>
    <h3>My personal List</h3>
    <br>
    <div class="movies-list">
        <div class="movie-card">
            <div class="row movie-card-body" *ngFor="let m of movies">

                <div class="col-md-2  movie-image">
                    <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{m.poster_path}}" />
                </div>
                <div class="col-md-9 movie-text">
                    <h4 class="movie-title">{{m.title}}</h4>

                    <div class="overview">{{m.overview.length > 135? m.overview.substring(0, 135) + '..': m.overview}}
                    </div>
                    <div>
                        <span class="link-text left" (click)="navigate('/movie/' + m.id)">About</span>
                        <span class="link-text right" (click)="this.remove(m.id)">Remove</span>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="inner-footer">
                    <nav aria-label="page_nav">
                        <ul class="pagination">
                            <li class="page-item"  *ngFor="let page of ar">
                                <a [ngClass]="getClass(ar.indexOf(page))" (click)="page_control(ar.indexOf(page))">
                                    {{ar.indexOf(page)+1}}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
